@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

*{
    padding:0;
    margin:0;
}
 body{
    position: relative;
    height: 100%;
    place-items: center;
  }
.Mbody{
  background-color: #0d3047;
}
.tnebuttons {
  align-content: center;
  justify-content: center;
  padding: 2%;
  padding-top: 3%;
  margin: 2%;
}

.tnebuttons p{
  margin-left: 27%;
}

.tnebuttons  button{
    position: inherit;
    height: 60px;
    width: 200px;
    margin: 0 35px;
    margin-top: 100px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: #111;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.5s;
  }

  .tnebuttons  button:first-child:hover{
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
  }

  .tnebuttons button:last-child:hover{
    background: linear-gradient(90deg, #fa7199, #f5ce62, #e43603, #fa7199);
    background-size: 400%;
  }

  .tnebuttons button:first-child:before,
  .tnebuttons button:last-child:before{
    content: '';
    background: inherit;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 50px;
    filter: blur(20px);
    opacity: 0;
    transition: opacity 0.5s;
  }
  .tnebuttons button:first-child:hover:before,
  .tnebuttons button:last-child:hover:before{
    opacity: 1;
    z-index: -1;
  }
  .tnebuttons button:hover{
    z-index: 1;
    animation: glow 8s linear infinite;
  }
  @keyframes glow {
    0%{
      background-position: 0%;
    }
    100%{
      background-position: 400%;
    }
  }

.resdos {
  text-align:left;
  margin-top: 200px;
  font-size: large;
  color: #000000;
}
.resdons {
  text-align:left;
  margin-top: 200px;
  font-size: large;
  color: #0e0e0e;
}

.dosndont {
  justify-content: center;
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.leftFlexdos {
  margin: 2%;
  padding: 2%;
  float: left;
  flex: 50%;
}

.rightFlexdons {
  margin: 2%;
  padding: 2%;
  float: right;
  flex: 50%;
}

.btn-back{
  margin: 0% 5% 3% 5%;
  padding: 0.5% 1.5%;
  border-radius: 12%;
  background-color: rgb(34, 31, 31);
  color: white;
}

.btn-back:hover{
  background: black;
}

.resdos, .resdons{
  margin: auto;
  padding: 5% 7%; 
  height: 100%;
  width: 90%;
  border: 1px solid black;
  border-radius: 5px;
  justify-content: center;
  align-content: center;
  background-color: #EEE8AA;
  backdrop-filter: blur(50%);
  background-size: auto;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 60em) {
  .tnebuttons p{
    margin-left: 15%;
  }
  .dosndont {
    flex-direction: column;
    width: 100%;
  }
}